<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Portal</title></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <body>
    <div><p align="right"><a href="/">Sign out</a></p></div>
    <div style="background:#2c3e50 ;color: #666666;font-family: 'RobotoDraft', 'Roboto', sans-serif;font-size: 14px;">
        <h1 style="margin: 00 0 20px;font-size: 48px;font-weight: 400;color: #ffffff;">Hello {{ row[4] }}!</h1>
    </div>
    <div style="position: relative;background: #ffffff;max-width:60%;width: 100%;margin: 0 auto;font-family: 'RobotoDraft', 'Roboto', sans-serif;font-size: 20px;">
            <table border = 0>
                <thead>
                </thead>
                <tr>
                    <td>sub1</td><td >{{ row[0] }} </td></tr>
                <tr><tr></tr>
                <td>sub2</td><td >{{ row[1] }}</td></tr><tr></tr>
                <tr>
                    <td>sub3</td><td >{{ row[2] }}</td></tr><tr></tr>
                <tr>
                    <td>sub4</td><td >{{ row[3] }}</td></tr>
    </div>
            </table>
        </div>

</body>
</html>
